.listitemtext {
  font-size: 0.7em;
}

.btn-approve {
  background-color: #ff5b00 !important;
  color: white;
  border: none;
  padding: 14px 25px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1em;
}

.btn-approve:hover {
  background-color: #e04a00;
}

.admin-profile-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background: #e0dedc9f;
  backdrop-filter: blur(10px);
  height: 80vh;
}

.admin-profile-header {
  margin-bottom: 30px;
  border-bottom: 2px solid #ff5b00;
  padding-bottom: 10px;
}

.admin-profile-list {
  width: 100%;
  margin: auto;
}

.admin-profile-list-item {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; 
}

.admin-profile-list-item:hover {
  background: #f9f9f9;
}

.admin-profile-details {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-top: 10px; 
}

.error-message {
  color: #ff4d4d;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
